In [2]:
df <- read.csv('adult.data.csv')

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [7]:
table(df$sex)

Female   Male
 10771  21790

**2. Каков средний возраст (признак *age*) женщин?**

In [11]:
round(mean(df[df['sex'] == 'Female', 'age']))

[1] 37

**3. Какова доля граждан Германии (признак *native-country*)?**

In [19]:
prop.table(table(df$native.country))['Germany']

    Germany
0.004207487

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год?**

In [21]:
library(dplyr)
df %>% group_by(salary) %>%
  summarise(n = n(),
            mean = mean(age),
            std = sd(age))

  salary n     mean     std
1 <=50K  24720 36.78374 14.02009
2 >50K    7841 44.24984 10.51903

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [22]:
table(df$education, df$salary)
addmargins(table(df$education, df$salary))

               <=50K >50K
  10th           871   62
  11th          1115   60
  12th           400   33
  1st-4th        162    6
  5th-6th        317   16
  7th-8th        606   40
  9th            487   27
  Assoc-acdm     802  265
  Assoc-voc     1021  361
  Bachelors     3134 2221
  Doctorate      107  306
  HS-grad       8826 1675
  Masters        764  959
  Preschool       51    0
  Prof-school    153  423
  Some-college  5904 1387

               <=50K >50K Sum
  10th           871   62   933
  11th          1115   60  1175
  12th           400   33   433
  1st-4th        162    6   168
  5th-6th        317   16   333
  7th-8th        606   40   646
  9th            487   27   514
  Assoc-acdm     802  265  1067
  Assoc-voc     1021  361  1382
  Bachelors     3134 2221  5355
  Doctorate      107  306   413
  HS-grad       8826 1675 10501
  Masters        764  959  1723
  Preschool       51    0    51
  Prof-school    153  423   576
  Some-college  5904 1387  7291
  Sum          24720 7841 32561

                      <=50K         >50K
  10th         0.0267497927 0.0019041184
  11th         0.0342434200 0.0018426952
  12th         0.0122846350 0.0010134824
  1st-4th      0.0049752772 0.0001842695
  5th-6th      0.0097355732 0.0004913854
  7th-8th      0.0186112220 0.0012284635
  9th          0.0149565431 0.0008292129
  Assoc-acdm   0.0246306932 0.0081385707
  Assoc-voc    0.0313565308 0.0110868831
  Bachelors    0.0962501152 0.0682104358
  Doctorate    0.0032861399 0.0093977458
  HS-grad      0.2710604711 0.0514419090
  Masters      0.0234636528 0.0294524124
  Preschool    0.0015662910 0.0000000000
  Prof-school  0.0046988729 0.0129910015
  Some-college 0.1813212125 0.0425969718

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Найдите максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [38]:
races = unique(df$race)
for(race in 1:length(races)){
    
    male_stats = summary(df[df$race == races[race] & df$sex == 'Male', 'age'])
    female_stats = summary(df[df$race == races[race] & df$sex == 'Female', 'age'])
    
    print(races[race])
    print(male_stats)
    print(female_stats)
}

[1] White
Levels: Amer-Indian-Eskimo Asian-Pac-Islander Black Other White
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   29.00   38.00   39.65   49.00   90.00
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   25.00   35.00   36.81   46.00   90.00
[1] Black
Levels: Amer-Indian-Eskimo Asian-Pac-Islander Black Other White
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   27.00   36.00   37.68   46.00   90.00
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   28.00   37.00   37.85   46.00   90.00
[1] Asian-Pac-Islander
Levels: Amer-Indian-Eskimo Asian-Pac-Islander Black Other White
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  18.00   29.00   37.00   39.07   46.00   90.00
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   25.00   33.00   35.09   43.75   75.00
[1] Amer-Indian-Eskimo
Levels: Amer-Indian-Eskimo Asian-Pac-Islander Black Other White
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   28.00   35.00   37.21   45.00   82.00
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   27.00   36.00   37.12   46.00   80.00
[1] Other
Levels: Amer-Indian-Eskimo Asian-Pac-Islander Black Other White
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   26.00   32.00   34.65   42.00   77.00
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  17.00   23.00   29.00   31.68   39.00   74.00

In [40]:
max(df[df$sex == 'Male' & df$race == "Amer-Indian-Eskimo", 'age'])

[1] 82

### Ответ
* 82 years

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [55]:
df$married <- df$marital.status==('Married-civ-spouse')|df$marital.status==('Married-spouse-absent')|df$marital.status==('Married-AF-spouse')

#добавление новой колонки, объединяющей 3 категории замужества

In [82]:
prop.table(table(df$married, df$salary))

table(df$married, df$salary)

            <=50K      >50K
  FALSE 0.4925832 0.0339363
  TRUE  0.2666073 0.2068733

        <=50K  >50K
  FALSE 16039  1105
  TRUE   8681  6736

### Ответ
* Среди женатых доля зарабатывающих много больше

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [84]:
max(df$hours.per.week)

[1] 99

In [89]:
table(df$hours.per.week == max(df$hours.per.week), df$salary)
addmargins(table(df$hours.per.week == max(df$hours.per.week), df$salary))

        <=50K  >50K
  FALSE 24660  7816
  TRUE     60    25

        <=50K >50K Sum
  FALSE 24660 7816 32476
  TRUE     60   25    85
  Sum   24720 7841 32561

In [91]:
hard_workers <- subset(df, df$hours.per.week == 99,select = c('hours.per.week',"salary"))

In [97]:
round(prop.table(table(hard_workers))*100)

              salary
hours.per.week <=50K >50K
            99    71   29

### Ответ
* Максимальное число часов в неделю: 99
* Таких людей: 85
* Процент зарабатывающих много: 29

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [99]:
countries = unique(df$native.country)
for(i in 1:length(countries)){
    rich = round(mean(df$hours.per.week[df$salary == '>50K' & df$native.country == countries[i]]))
    poor = round(mean(df$hours.per.week[df$salary == '<=50K' & df$native.country == countries[i]]))
    print(countries[i])
    print(rich)
    print(poor)
}

[1] United-States
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 46
[1] 39
[1] Cuba
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 42
[1] 38
[1] Jamaica
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 41
[1] 38
[1] India
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 46
[1] 38
[1] ?
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 46
[1] 40
[1] Mexico
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 47
[1] 40
[1] South
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 51
[1] 40
[1] Puerto-Rico
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 39
[1] 38
[1] Honduras
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 60
[1] 34
[1] England
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 45
[1] 40
[1] Canada
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 46
[1] 38
[1] Germany
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 45
[1] 39
[1] Iran
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 48
[1] 41
[1] Philippines
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 43
[1] 38
[1] Italy
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 45
[1] 40
[1] Poland
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 39
[1] 38
[1] Columbia
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 50
[1] 39
[1] Cambodia
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 40
[1] 41
[1] Thailand
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 58
[1] 43
[1] Ecuador
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 49
[1] 38
[1] Laos
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 40
[1] 40
[1] Taiwan
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 47
[1] 34
[1] Haiti
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 43
[1] 36
[1] Portugal
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 42
[1] 42
[1] Dominican-Republic
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 47
[1] 42
[1] El-Salvador
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 45
[1] 36
[1] France
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 51
[1] 41
[1] Guatemala
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 37
[1] 39
[1] China
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 39
[1] 37
[1] Japan
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 48
[1] 41
[1] Yugoslavia
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 50
[1] 42
[1] Peru
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 40
[1] 35
[1] Outlying-US(Guam-USVI-etc)
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] NaN
[1] 42
[1] Scotland
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 47
[1] 39
[1] Trinadad&Tobago
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 40
[1] 37
[1] Greece
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 51
[1] 42
[1] Nicaragua
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 38
[1] 36
[1] Vietnam
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 39
[1] 37
[1] Hong
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 45
[1] 39
[1] Ireland
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 48
[1] 41
[1] Hungary
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] 50
[1] 31
[1] Holand-Netherlands
42 Levels: ? Cambodia Canada China Columbia Cuba Dominican-Republic ... Yugoslavia
[1] NaN
[1] 40