<center>
Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br>

# <center>Домашнее задание № 1.<br> Анализ данных по доходу населения UCI Adult</center>

Уникальные значения признаков:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [5]:
female_amount = len(data[data['sex'] == 'Female'])
male_amount = len(data[data['sex'] == 'Male'])
print('males: ', male_amount)
print('females: ', female_amount)

males:  21790
females:  10771

**2. Каков средний возраст (признак *age*) женщин?**

In [6]:
mean_fem_age = data[data['sex'] == 'Female']['age'].mean()
print('mean age of females: ', round(mean_fem_age))

mean age of females:  37

**3. Какова доля граждан Германии (признак *native-country*)?**

In [7]:
germans = len(data[data['native-country'] == 'Germany'])
all_ppl = len(data)
per_german = round((germans / all_ppl * 100), 2)
print(per_german,'% of people are German')

0.42 % of people are German

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [8]:
mean_age_rich = round(data[data['salary'] == '>50K']['age'].mean())
mean_age_poor = round(data[data['salary'] == '<=50K']['age'].mean())
std_rich = data[data['salary'] == '>50K']['age'].std()
std_poor = data[data['salary'] == '<=50K']['age'].std()
print("mean age of people with salary above 50K: ", mean_age_rich, " \n standart deviation: ", std_rich, "\n")
print("mean age of people with salary under 50K: ", mean_age_poor,  " \n standart deviation: ", std_poor)

mean age of people with salary above 50K:  44
 standart deviation:  10.51902771985177

mean age of people with salary under 50K:  37
 standart deviation:  14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [9]:
rich_without_higher_edu = []

for edu_type, person_info in data[data['salary'] == '>50K'].groupby('education'):
    
    if (edu_type!='Bachelors' and edu_type!='Prof-school' and edu_type!='Assoc-acdm'\
        and edu_type!='Assoc-voc' and edu_type!='Masters' and edu_type!='Doctorate'):
        
        print(edu_type, "amount: ", len(person_info))
        rich_without_higher_edu.append(len(person_info))
        
print("\namount of people without higher education with salary above 50K: ", sum(rich_without_higher_edu))

if sum(rich_without_higher_edu) == 0:
    print('conclusion: true')
else: 
    print('conclusion: false')

10th amount:  62
11th amount:  60
12th amount:  33
1st-4th amount:  6
5th-6th amount:  16
7th-8th amount:  40
9th amount:  27
HS-grad amount:  1675
Some-college amount:  1387

amount of people without higher education with salary above 50K:  3306
conclusion: false

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [10]:
for race, info in data[data['sex'] == 'Male'].groupby('race'):
    if race == 'Amer-Indian-Eskimo':
        print("maximum age of a male person of Amer-Indian-Eskimo race:", info['age'].max())

maximum age of a male person of Amer-Indian-Eskimo race: 82

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [11]:
data['is_married'] = data['marital-status']==('Married-civ-spouse'or'Married-spouse-absent'or'Married-AF-spouse')
#добавление новой колонки, объединяющей 3 категории замужества

In [33]:
rich_people = data[data['salary'] == '>50K']
rich_married = len(rich_people[rich_people['is_married'] == True])
rich_single = len(rich_people[rich_people['is_married'] == False])

all_married = len(data[data['is_married'] == True])
all_single = len(data[data['is_married'] == False])

print(round((rich_married / all_married * 100)), "% of married people have salary above 50K")
print(round((rich_single / all_single * 100)), "% of single people have salary above 50K")

45 % of married people have salary above 50K
7 % of single people have salary above 50K

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [79]:
max_hours = data['hours-per-week'].max()
max_h_workers = data[data['hours-per-week'] == max_hours]
rich_max_workers = max_h_workers[max_h_workers['salary'] == '>50K']

print("max hours per week: ", max_hours)
print("amount of people working max hours: ", len(max_h_workers))
print(round(len(rich_max_workers) / len(max_h_workers) * 100),\
      "% of people working max hours have salary above 50K")

max hours per week:  99
amount of people working max hours:  85
29 % of people working max hours have salary above 50K

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [78]:
for country, country_data in data.groupby('native-country'):
    if country != '?':
        try:
            print("country: ", country)
            rich_ppl = country_data[country_data['salary'] == '>50K']
            poor_ppl = country_data[country_data['salary'] == '<=50K']
            print("hours per week of people with salary above 50K: ",\
                  round(rich_ppl['hours-per-week'].mean()))
            print("hours per week of people with salary below 50K: ",\
                  round(poor_ppl['hours-per-week'].mean()), "\n")
            
        except ValueError:
            print("no people with such salary \n")

country:  Cambodia
hours per week of people with salary above 50K:  40
hours per week of people with salary below 50K:  41

country:  Canada
hours per week of people with salary above 50K:  46
hours per week of people with salary below 50K:  38

country:  China
hours per week of people with salary above 50K:  39
hours per week of people with salary below 50K:  37

country:  Columbia
hours per week of people with salary above 50K:  50
hours per week of people with salary below 50K:  39

country:  Cuba
hours per week of people with salary above 50K:  42
hours per week of people with salary below 50K:  38

country:  Dominican-Republic
hours per week of people with salary above 50K:  47
hours per week of people with salary below 50K:  42

country:  Ecuador
hours per week of people with salary above 50K:  49
hours per week of people with salary below 50K:  38

country:  El-Salvador
hours per week of people with salary above 50K:  45
hours per week of people with salary below 50K:  36

country:  England
hours per week of people with salary above 50K:  45
hours per week of people with salary below 50K:  40

country:  France
hours per week of people with salary above 50K:  51
hours per week of people with salary below 50K:  41

country:  Germany
hours per week of people with salary above 50K:  45
hours per week of people with salary below 50K:  39

country:  Greece
hours per week of people with salary above 50K:  51
hours per week of people with salary below 50K:  42

country:  Guatemala
hours per week of people with salary above 50K:  37
hours per week of people with salary below 50K:  39

country:  Haiti
hours per week of people with salary above 50K:  43
hours per week of people with salary below 50K:  36

country:  Holand-Netherlands
no people with such salary

country:  Honduras
hours per week of people with salary above 50K:  60
hours per week of people with salary below 50K:  34

country:  Hong
hours per week of people with salary above 50K:  45
hours per week of people with salary below 50K:  39

country:  Hungary
hours per week of people with salary above 50K:  50
hours per week of people with salary below 50K:  31

country:  India
hours per week of people with salary above 50K:  46
hours per week of people with salary below 50K:  38

country:  Iran
hours per week of people with salary above 50K:  48
hours per week of people with salary below 50K:  41

country:  Ireland
hours per week of people with salary above 50K:  48
hours per week of people with salary below 50K:  41

country:  Italy
hours per week of people with salary above 50K:  45
hours per week of people with salary below 50K:  40

country:  Jamaica
hours per week of people with salary above 50K:  41
hours per week of people with salary below 50K:  38

country:  Japan
hours per week of people with salary above 50K:  48
hours per week of people with salary below 50K:  41

country:  Laos
hours per week of people with salary above 50K:  40
hours per week of people with salary below 50K:  40

country:  Mexico
hours per week of people with salary above 50K:  47
hours per week of people with salary below 50K:  40

country:  Nicaragua
hours per week of people with salary above 50K:  38
hours per week of people with salary below 50K:  36

country:  Outlying-US(Guam-USVI-etc)
no people with such salary

country:  Peru
hours per week of people with salary above 50K:  40
hours per week of people with salary below 50K:  35

country:  Philippines
hours per week of people with salary above 50K:  43
hours per week of people with salary below 50K:  38

country:  Poland
hours per week of people with salary above 50K:  39
hours per week of people with salary below 50K:  38

country:  Portugal
hours per week of people with salary above 50K:  42
hours per week of people with salary below 50K:  42

country:  Puerto-Rico
hours per week of people with salary above 50K:  39
hours per week of people with salary below 50K:  38

country:  Scotland
hours per week of people with salary above 50K:  47
hours per week of people with salary below 50K:  39

country:  South
hours per week of people with salary above 50K:  51
hours per week of people with salary below 50K:  40

country:  Taiwan
hours per week of people with salary above 50K:  47
hours per week of people with salary below 50K:  34

country:  Thailand
hours per week of people with salary above 50K:  58
hours per week of people with salary below 50K:  43

country:  Trinadad&Tobago
hours per week of people with salary above 50K:  40
hours per week of people with salary below 50K:  37

country:  United-States
hours per week of people with salary above 50K:  46
hours per week of people with salary below 50K:  39

country:  Vietnam
hours per week of people with salary above 50K:  39
hours per week of people with salary below 50K:  37

country:  Yugoslavia
hours per week of people with salary above 50K:  50
hours per week of people with salary below 50K:  42